PORT=3001
MONGODB_URI=mongodb+srv://attzazg:attzazg@cluster0.fwphwlz.mongodb.net/nexus
JWT_ACCESS_SECRET=nexusai_access_secret_change_in_prod_min32chars
JWT_REFRESH_SECRET=nexusai_refresh_secret_change_in_prod_min32chars
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
